* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 20px;
  font-family: "Libre Franklin", sans-serif;
}

img {
  max-width: 100%;
}

.ping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 85px 0 20px 0;
}

.ping__logo {
  max-width: 55px;
}

@media (min-width: 1024px) {
  .ping__logo {
    max-width: 90px;
  }
}

.ping__title {
  color: #969696;
  font-weight: 300;
  margin: 45px 0 25px 0;
}

@media (min-width: 1024px) {
  .ping__title {
    font-size: 45px;
  }
}

.ping__text {
  font-size: 12px;
  margin: 0;
  margin-bottom: 30px;
}

@media (min-width: 1024px) {
  .ping__text {
    font-size: 20px;
    margin-bottom: 40px;
  }
}

.ping__span {
  color: #151f29;
  font-weight: 700;
}

@media (min-width: 1024px) {
  .ping__span {
    font-size: 45px;
  }
}

.ping__img {
  max-width: 321px;
  margin-top: 55px;
  margin-bottom: 120px;
}

@media (min-width: 1024px) {
  .ping__img {
    margin-top: 34px;
    max-width: 642px;
    margin-bottom: 68px;
  }
}

.ping__copy {
  font-size: 10px;
}

@media (min-width: 1024px) {
  .ping__copy {
    font-size: 13px;
  }
}

.form {
  width: 285px;
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 1024px) {
  .form {
    width: 642px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.form__error {
  color: #ff5263;
  font-size: 12px;
  text-align: center;
  margin-bottom: 25px;
  display: none;
}

@media (min-width: 1024px) {
  .form__error {
    display: none;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    padding-left: 20px;
    font-size: 13px;
  }
}

.form.error .form__error {
  display: block;
}

.input,
.btn {
  height: 40px;
  width: 100%;
  border-radius: 15px;
  font-size: 12px;
}

@media (min-width: 1024px) {
  .input,
  .btn {
    height: 56px;
    font-size: 15px;
  }
}

.input {
  border: 1px solid #c2d3ff;
  margin-bottom: 10px;
}

@media (min-width: 1024px) {
  .input {
    width: 65%;
    margin-right: 5%;
  }
}

.input::-webkit-input-placeholder {
  color: #c2d3ff;
  padding-left: 20px;
}

.input:-ms-input-placeholder {
  color: #c2d3ff;
  padding-left: 20px;
}

.input::-ms-input-placeholder {
  color: #c2d3ff;
  padding-left: 20px;
}

.input::placeholder {
  color: #c2d3ff;
  padding-left: 20px;
}

.form.error .input {
  border-color: #ff5263;
}

.btn {
  background-color: #4f7df3;
  color: white;
  border: none;
  font-weight: 700;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

@media (min-width: 1024px) {
  .btn {
    width: 30%;
  }
}

.btn:hover {
  background-color: #c2d3ff;
}

.social {
  margin-bottom: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__icon {
  border: #c2d3ff solid 1px;
  width: 1.875em;
  height: 1.875em;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 5px;
  color: #4f7df3;
  cursor: pointer;
}

.social__icon:hover {
  color: white;
  background-color: #4f7df3;
}
/*# sourceMappingURL=app.css.map */